.hero-section {
  position: relative;
  height: 400px;
  color: white;
  text-align: center;
  padding: 100px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for the hero section */
}


.hero-section h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-section button {
  padding: 12px 30px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-section button:hover {
  background-color: #0056b3;
}

.category-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 0 20px;
}

.category-card {
  width: 30%;
  margin: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.category-card img {
  width: 100%;
  height: auto;
  border-bottom: 3px solid #ddd;
}

.category-card h2 {
  font-size: 24px;
  margin-top: 15px;
}

.category-card p {
  font-size: 16px;
  margin-bottom: 15px;
}

.category-card a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.category-card a:hover {
  background-color: #0056b3;
}
